/.local/
/.objects/
/.settings/
/.tmh/
/Exception_Screenshots/*

Desktop.ini
**/.DS_Store
~*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history/
*.vsix

.idea/
*.iml
*.ipr
*.iws
out/
cmake-build-*/

/Data/*
!/Data/Config.xlsx

/.storage/
/.autopilot/
/.screenshots/